.catalog {
  padding: 0 20px;
}
.catalog__filltres {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 0.3px solid #252525;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
