.category__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  padding: 60px 20px 30px;
}
.category__blocks {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.category__blocks-item {
  /* height: 230px; */
  width: 165px;
  background: url(../img/whitejacket.jpg) no-repeat;
  background-size: cover;
}
.category__blocks-jackets {
  background: url(../img/bluecoat.jpg) no-repeat;
  background-size: cover;
}
.category__blocks-item-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  background: rgba(224, 190, 162, 0.75);
  padding: 8px 0;
  margin-top: 195px;
  /* flex-direction: column; */
}
