.feedback__follow {
  padding: 0 20px;
}
.feddback__follow-inp {
  border: 0.5px solid #252525;
  padding: 12px 0;
  width: 100%;
}
.feedback__follow-btn {
  background: #e0bea2;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: center;
  padding: 12px 0;
  margin: 15px 0;
}
.feedback__follow-text {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 40px;
}
