.return {
  padding: 0 20px 40px 20px;
}
.return__logo {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}
.return__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.return__block-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 55px 0 0;
  text-align: center;
  position: relative;
}
.return__block-text::before {
  content: '';
  background: url(../img/icons/birka.png) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10%;
  left: 45%;
}
.bike::before {
  content: '';
  background: url(../img/icons/bike.png) no-repeat;
  background-size: cover;
}
.clock::before {
  content: '';
  background: url(../img/icons/clock.png) no-repeat;
  background-size: cover;
}
.card::before {
  content: '';
  background: url(../img/icons/card.png) no-repeat;
  background-size: cover;
  height: 24px;
}
.money::before {
  content: '';
  background: url(../img/icons/money.png) no-repeat;
  background-size: cover;
}
.blunk::before {
  content: '';
  background: url(../img/icons/blunk.png) no-repeat;
  background-size: cover;
  width: 27px;
}
